doctype html
html(lang="en")
  head
    title Site
  body
    .container
      h1 Up and Running!
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti commodi magni corrupti quo rem? Quaerat nesciunt at sit dolor quia? Iusto accusamus consequatur fugiat itaque corrupti blanditiis commodi sunt unde, quaerat cumque odit nulla non ex atque illo iste officiis nostrum tempora exercitationem amet rem!