- var ProjectName = "Name of Project"
- var PageTitle = "Title on Page"
- var PageSlug = "Unique page name is needed"
- var MetaDesc = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quas culpa quasi repellendus suscipit nisi molestias, ipsum ea at ipsa labore.'
//- - var GoogleFonts = 'Raleway'
- var jQuery = false
- var Modernizr = false
- var BodyClasses = ['bodyclass_one','bodyclass_two']
- var webIcons = false
- var wowScript = false
- var FontAwesome = false
- var MaterialIcons = true 
- var GoogleFonts = 'Black+Han+Sans|Open+Sans'
//- Analytics Codes
//- - var GoogleAnalytics = "1234567"