footer
  nav
    ul
      a(href="#")
        li home
      a(href="#")
        li contact
      a(href="#")
        li terms &amp; 
          script (new Date()).getFullYear()
  p &copy; 2017
script(src='js/post.js')
if webIcons
  script(type='text/javascript' src='//cdn.rawgit.com/icons8/bower-webicon/v0.10.7/jquery-webicon.min.js')
if wowScript
  script new WOW().init();
